.btn{
    border: none;
    outline: none;
    color: $btn-main-color;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    @include mobile {
        font-size: 1rem;
    }

    &__text,
    &__icon{
        display: block;
        transition: transform 0.5s ease;
    }

    &__text{
        padding: 1.2rem 1.5rem;
    }

    &__icon{
        @include flex(center, center);
        font-size: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
    }

    &-animate:hover .btn__text {
        transform: translateX(100%);
    }

    &-animate:hover &__icon {
        transform: translateX(0);
    }

    &-sm{
        font-size: 1rem;
    }

    &-sm &__text {
        padding: 1rem 2rem;
    }

    &-sm &__icon {
        font-size: 1.8rem;
    }
}