.toast{
    @include flex(center,space-between);
    position: absolute;
    z-index: 103;
    top: 12px;
    right: 0;
    width: 300px;
    height: 80px;
    padding: 10px;
    box-shadow: $box-shadow;
    background-color: $main-bg;
    border-left: 4px solid;
    transform: translateX(100%);
    animation: transform 0.3s linear;

    &__icon{
    @include flex(center,center);
        font-size: 4rem;
        margin-right: 15px;
    }

    &__body{
        text-align: center;
        flex: 1;

        &-title{
            margin-bottom: 8px;
            font-size: 2rem;
        }

        &-content{
            font-size: 1.2rem;
            color: $txt-second-color;
        }
    }

    &.success{
        transform: translateX(0);
        border-color: $primary;
    }

    &.success &__body h3,
    &.success &__icon{
        color: $primary;
    }

    &.warning{
        transform: translateX(0);
        border-color: red;
    }

    &.warning &__body h3,
    &.warning &__icon{
        color: red;
    }
}

